In [4]:
import pandas as pd

In [11]:
df = pd.read_csv("Telco-Customer-Churn.csv")

df.drop(columns=['customerID'], axis=1, inplace=True)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [16]:
df.shape

(7043, 20)

In [12]:
df.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [13]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [17]:
X = df.drop(columns=["Churn"], axis=1)
Y = df["Churn"]

In [18]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

text_columns = set()

for column in X.columns:
    if X[column].dtype == 'object':
        if X[column].nunique() <= 2:  # Binary Categories → Label Encoding
            X.loc[:, column] = label_encoder.fit_transform(X[column])
        else:  # More than 2 Unique Categories → One-Hot Encoding
            text_columns.add(column)

# One-Hot Encoding for categorical columns with more than 2 unique values
X_encoded = pd.get_dummies(X, columns=list(text_columns), drop_first=True).astype(int)

print(X_encoded.head())

   gender  SeniorCitizen  Partner  Dependents  tenure  PhoneService  \
0       0              0        1           0       1             0
1       1              0        0           0      34             1
2       1              0        0           0       2             1
3       1              0        0           0      45             0
4       0              0        0           0       2             1

   PaperlessBilling  MonthlyCharges  DeviceProtection_No internet service  \
0                 1              29                                     0
1                 0              56                                     0
2                 1              53                                     0
3                 0              42                                     0
4                 1              70                                     0

   DeviceProtection_Yes  ...  OnlineSecurity_Yes  \
0                     0  ...                   0
1                     1  ...                   1
2                     0  ...                   1
3                     1  ...                   1
4                     0  ...                   0

   StreamingMovies_No internet service  StreamingMovies_Yes  \
0                                    0                    0
1                                    0                    0
2                                    0                    0
3                                    0                    0
4                                    0                    0

   PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                      0                               1
1                                      0                               0
2                                      0                               0
3                                      0                               0
4                                      0                               1

   PaymentMethod_Mailed check  Contract_One year  Contract_Two year  \
0                           0                  0                  0
1                           1                  1                  0
2                           1                  0                  0
3                           0                  1                  0
4                           0                  0                  0

   TechSupport_No internet service  TechSupport_Yes
0                                0                0
1                                0                0
2                                0                0
3                                0                1
4                                0                0

[5 rows x 6559 columns]

In [71]:
X_encoded.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'PhoneService_Yes',
       'Dependents_Yes', 'InternetService_Fiber optic', 'InternetService_No',
       'PaperlessBilling_Yes', 'Partner_Yes', 'TotalCharges_100.2',
       ...
       'StreamingMovies_Yes', 'Contract_One year', 'Contract_Two year',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes'],
      dtype='object', length=13601)

In [72]:
Y_encoded = Y.map({'Yes':1, 'No':0})
Y_encoded.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

In [73]:
df_encoded = pd.concat([X_encoded, Y_encoded], axis=1)

In [74]:
df_encoded.head()

,SeniorCitizen,tenure,MonthlyCharges,PhoneService_Yes,Dependents_Yes,InternetService_Fiber optic,InternetService_No,PaperlessBilling_Yes,Partner_Yes,TotalCharges_100.2,...,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,MultipleLines_No phone service,MultipleLines_Yes,DeviceProtection_No internet service,DeviceProtection_Yes,Churn
0,0,1,29,0,0,0,0,1,1,0,...,0,0,0,1,0,1,0,0,0,0
1,0,34,56,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
2,0,2,53,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0,45,42,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,1,0
4,0,2,70,1,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1

In [75]:
# 1.CHECK IMBALANCE DATA

df_encoded['Churn'].value_counts()

Churn
0    5174
1    1869
Name: count, dtype: int64

In [76]:
X = df_encoded.drop(columns=["Churn"], axis=1)

Y = df_encoded["Churn"]

In [77]:
X.head()

,SeniorCitizen,tenure,MonthlyCharges,PhoneService_Yes,Dependents_Yes,InternetService_Fiber optic,InternetService_No,PaperlessBilling_Yes,Partner_Yes,TotalCharges_100.2,...,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,MultipleLines_No phone service,MultipleLines_Yes,DeviceProtection_No internet service,DeviceProtection_Yes
0,0,1,29,0,0,0,0,1,1,0,...,0,0,0,0,1,0,1,0,0,0
1,0,34,56,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
2,0,2,53,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,45,42,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1
4,0,2,70,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [78]:
from imblearn.over_sampling import SMOTE
from collections import Counter

smote = SMOTE(random_state=42)

X_resampled, Y_resampled = smote.fit_resample(X, Y)

print("Class distribution after SMOTE:", Counter(Y_resampled))

Class distribution after SMOTE: Counter({0: 5174, 1: 5174})

In [79]:
X_resampled.shape, Y_resampled.shape

((10348, 13601), (10348,))

In [80]:
from sklearn.preprocessing import StandardScaler

standard_scaler = StandardScaler()

X_scaled = standard_scaler.fit_transform(X_resampled)

X_scaled_df = pd.DataFrame(X_scaled,columns=X_resampled.columns)

X_scaled_df.columns

MemoryError: Unable to allocate 1.05 GiB for an array with shape (10348, 13601) and data type float64

In [ ]:
X_scaled_df.shape, Y_resampled.shape

((10348, 13601), (10348,))

In [ ]:
X_scaled_df.head()

,SeniorCitizen,tenure,MonthlyCharges,PhoneService_Yes,Dependents_Yes,InternetService_Fiber optic,InternetService_No,PaperlessBilling_Yes,Partner_Yes,TotalCharges_100.2,...,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,MultipleLines_No phone service,MultipleLines_Yes,DeviceProtection_No internet service,DeviceProtection_Yes
0,-0.410776,-1.114479,-1.340141,-3.029030,-0.5313,-1.047310,-0.443058,0.799311,1.261818,-0.009831,...,-0.775795,-0.420848,-0.445709,-0.429247,1.292993,-0.473630,3.216596,-0.821734,-0.443058,-0.630873
1,-0.410776,0.261227,-0.400646,0.330139,-0.5313,-1.047310,-0.443058,-1.251078,-0.792507,-0.009831,...,-0.775795,2.376155,-0.445709,-0.429247,-0.773399,2.111352,-0.310888,-0.821734,-0.443058,1.585105
2,-0.410776,-1.072791,-0.505034,0.330139,-0.5313,-1.047310,-0.443058,0.799311,-0.792507,-0.009831,...,-0.775795,-0.420848,-0.445709,-0.429247,-0.773399,2.111352,-0.310888,-0.821734,-0.443058,-0.630873
3,-0.410776,0.719796,-0.887791,-3.029030,-0.5313,-1.047310,-0.443058,-1.251078,-0.792507,-0.009831,...,-0.775795,2.376155,-0.445709,-0.429247,-0.773399,-0.473630,3.216596,-0.821734,-0.443058,1.585105
4,-0.410776,-1.072791,0.086499,0.330139,-0.5313,0.954827,-0.443058,0.799311,-0.792507,-0.009831,...,-0.775795,-0.420848,-0.445709,-0.429247,1.292993,-0.473630,-0.310888,-0.821734,-0.443058,-0.630873

In [ ]:
X_scaled_df.columns

Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'PhoneService_Yes',
       'Dependents_Yes', 'InternetService_Fiber optic', 'InternetService_No',
       'PaperlessBilling_Yes', 'Partner_Yes', 'TotalCharges_100.2',
       ...
       'StreamingMovies_Yes', 'Contract_One year', 'Contract_Two year',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes'],
      dtype='object', length=13601)

In [ ]:
X_scaled_df.head()

,SeniorCitizen,tenure,MonthlyCharges,PhoneService_Yes,Dependents_Yes,InternetService_Fiber optic,InternetService_No,PaperlessBilling_Yes,Partner_Yes,TotalCharges_100.2,...,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,MultipleLines_No phone service,MultipleLines_Yes,DeviceProtection_No internet service,DeviceProtection_Yes
0,-0.410776,-1.114479,-1.340141,-3.029030,-0.5313,-1.047310,-0.443058,0.799311,1.261818,-0.009831,...,-0.775795,-0.420848,-0.445709,-0.429247,1.292993,-0.473630,3.216596,-0.821734,-0.443058,-0.630873
1,-0.410776,0.261227,-0.400646,0.330139,-0.5313,-1.047310,-0.443058,-1.251078,-0.792507,-0.009831,...,-0.775795,2.376155,-0.445709,-0.429247,-0.773399,2.111352,-0.310888,-0.821734,-0.443058,1.585105
2,-0.410776,-1.072791,-0.505034,0.330139,-0.5313,-1.047310,-0.443058,0.799311,-0.792507,-0.009831,...,-0.775795,-0.420848,-0.445709,-0.429247,-0.773399,2.111352,-0.310888,-0.821734,-0.443058,-0.630873
3,-0.410776,0.719796,-0.887791,-3.029030,-0.5313,-1.047310,-0.443058,-1.251078,-0.792507,-0.009831,...,-0.775795,2.376155,-0.445709,-0.429247,-0.773399,-0.473630,3.216596,-0.821734,-0.443058,1.585105
4,-0.410776,-1.072791,0.086499,0.330139,-0.5313,0.954827,-0.443058,0.799311,-0.792507,-0.009831,...,-0.775795,-0.420848,-0.445709,-0.429247,1.292993,-0.473630,-0.310888,-0.821734,-0.443058,-0.630873

In [ ]:
from sklearn.feature_selection import VarianceThreshold

variance_threshold = VarianceThreshold(threshold=0.1)

df_selected = variance_threshold.fit_transform(X_scaled_df)

selected_features = X_scaled_df.columns[variance_threshold.get_support()]

print("selected features are", selected_features)

selected features are Index(['SeniorCitizen', 'tenure', 'MonthlyCharges', 'PhoneService_Yes',
       'Dependents_Yes', 'InternetService_Fiber optic', 'InternetService_No',
       'PaperlessBilling_Yes', 'Partner_Yes', 'TotalCharges_100.2',
       ...
       'StreamingMovies_Yes', 'Contract_One year', 'Contract_Two year',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'MultipleLines_No phone service', 'MultipleLines_Yes',
       'DeviceProtection_No internet service', 'DeviceProtection_Yes'],
      dtype='object', length=13601)

In [ ]:

new_df = pd.DataFrame(df_selected, columns=selected_features)

new_df.shape

(10348, 13601)

In [88]:
import numpy as np

new_df = new_df.astype(np.uint8)  # Convert to float32

In [89]:
from sklearn.feature_selection import mutual_info_classif

mi_classif = mutual_info_classif(new_df, Y_resampled)

mi_classif

KeyboardInterrupt:

In [ ]:
df_sampled = pd.concat([X_resampled, Y_resampled], axis=1)
df_sampled.head()

,SeniorCitizen,tenure,MonthlyCharges,Contract_One year,Contract_Two year,PhoneService_Yes,OnlineBackup_No internet service,OnlineBackup_Yes,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Partner_Yes,Dependents_Yes,Churn
0,0,1,29,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,34,56,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,2,53,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0,45,42,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,2,70,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [ ]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# sns.heatmap(df_sampled.corr())
# plt.show()

In [ ]:
# correlated_columns = set()

# corr_matrix = df_sampled.corr().abs()

# threshold = 0.8

# for i in range(len(corr_matrix.columns)):
#     for j in range(i):
#       if corr_matrix.iloc[i,j] > threshold:
#          correlated_columns.add(corr_matrix.columns[i])


# print("Highly Correlated Columns", correlated_columns)


# df_filtered =  df_sampled.drop(columns=correlated_columns)